# Python Einführung
## Unterüberschrift
normaler text
**fetter text**
*kursiver text*
- Punkt 1
- Punkt 2

In [37]:
 print ("Hello World")

Hello World

In [38]:
# Das ist ein Kommentar
print("etwas")

etwas

# Datentypen

In [39]:
name = "Lovelace"

In [40]:
print (name)

Lovelace

In [41]:
age = 73

In [42]:
size = 1.7123

In [43]:
knows_math = True
print (knows_math)
likes_slacking = False
print (likes_slacking)

True
False

# Operatoren

In [44]:
5 + 5

10

In [45]:
age * 100

7300

In [46]:
name + name

'LovelaceLovelace'

In [47]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [48]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [49]:
name + "10"

'Lovelace10'

In [50]:
size/age

0.023456164383561642

In [51]:
name + str(10)

'Lovelace10'

In [52]:
number_of_articles = "50"

In [53]:
int(number_of_articles)

50

In [54]:
type(number_of_articles)

str

# Funktionen und Methoden

In [55]:
len(name)

8

In [56]:
name.upper()

'LOVELACE'

In [57]:
name_upper = name.upper ()
print(name_upper)

LOVELACE

In [58]:
name.count("e")

2

In [59]:
name.count("L")

1

In [60]:
name.replace("lace", " is everywhere")

'Love is everywhere'

##  Listen und Dictionaries

## Listen

In [61]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [62]:
names[1]

'Darwin'

In [63]:
## obwohl 4 Elemente enthalten, werden nur die ersten drei ausgegeben, da "3" exklusiv wirkt
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [64]:
## letztes Element in einer Liste
names[-1]

'Hawking'

In [65]:
## gibt bis zweites Element aus
names[:2]

['Lovelace', 'Darwin']

In [66]:
## gibt ab zweitem Element aus
names[2:]

['Curie', 'Hawking']

## Dictionaries

In [67]:
## Key: Value
authors_and_birth_years = {"Lovelace": 1815,
                           "Darwin": 1809,
                           "Noether": 1882}

In [68]:
## Zur Ausgabe des Geburtsdatums von Darwin den Key eintragen
authors_and_birth_years["Darwin"]

1809

In [69]:
authors_and_birth_years["Noether"]

1882

## for-Schleife

In [70]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [74]:
for name in names:
    print(name + " did awesome stuff")
    print("----------------------")

Lovelace did awesome stuff
----------------------
Darwin did awesome stuff
----------------------
Curie did awesome stuff
----------------------
Hawking did awesome stuff
----------------------

In [75]:
for name in names:
    print(name + " did awesome stuff")
print("----------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
----------------------

# Bedingte Anweisungen (Conditionals)

In [77]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [78]:
20 > 15

True

In [81]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [83]:
temp = 5
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [85]:
temp = 15
if temp >=25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [86]:
temp = 20
if temp >=25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [88]:
authors_and_birth_years = {"Lovelace": 1815,
                           "Darwin": 1809,
                           "Noether": 1882}

In [89]:
## .keys = Methode
for author in authors_and_birth_years.keys():
    print(author)

Lovelace
Darwin
Noether

In [90]:
for birth_year in authors_and_birth_years.values():
    print(birth_year)

1815
1809
1882

In [98]:
## birth_year ist ein int und muss daher als str angesteuert werden
for author, birth_year in authors_and_birth_years.items():
    print(author + " was born in " + str(birth_year))

Lovelace was born in 1815
Darwin was born in 1809
Noether was born in 1882